.logo-container {
    position: absolute;
    top: 10px;
    left: 18.5%;
}

.logo-container p {
    margin: 8px 30px;
}

.logo-container a {
    text-decoration: none;
    color: whitesmoke;
}

.react-logo{
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #00d8ff;

    animation-name:rotate;
    animation-duration: 10s; /* 5s */
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.react-logo , .react-logo:before , .react-logo:after{
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #00d8ff;
}

.nucleo , .react-logo , .react-logo:before , .react-logo:after {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nucleo{
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background:#00d8ff;
}

.react-logo:before , .react-logo:after{
    content: "";
}

.react-logo:after{
    transform: rotate(-57deg);
}

.react-logo:before{
    transform: rotate(57deg);
}

@keyframes rotate{

    100%{
      transform: rotate(360deg);
    }
}
