@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  /*background-color: rgb(23, 84, 119); /* dark seagreen */
  /* font-family: 'Quantico', sans-serif; */
  font-family: 'Josefin Sans', sans-serif;
  font-size: unset;

  background: linear-gradient(
    to top,
    rgb(245, 245, 245) 0%,
    rgb(245, 245, 245) 50%,
    rgb(23, 84, 119) 50%,
    rgb(2, 0, 36) 150% /* 100% */
  );
}

main {
  width: 100%;
  height: 100%;
}

.heading {
  margin: 0;
  margin-bottom: 2rem;
  color: whitesmoke;
}

.container {
  background-color: whitesmoke;
  box-shadow: rgb(35 55 80 / 30%) 0px 6px 12px;
  border-radius: 0.5em;
  width: 65%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 3fr 4fr auto 4fr;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  padding: 20px;
  align-items: center;
}

.amount { grid-area: 1 / 1 / 2 / 2; }
.from { grid-area: 1 / 2 / 2 / 3; }
.swap { grid-area: 1 / 3 / 2 / 4; }
.to { grid-area: 1 / 4 / 2 / 5; }
.result { grid-area: 2 / 1 / 3 / 4; justify-self: start; }
/* .div { grid-area: 2 / 4 / 3 / 5; } add new currency btn */
.alert { grid-area: 3 / 1 / 4 / 3; }
.convert { grid-area: 3 / 3 / 4 / 5; }

.amount:invalid {
  border: 1px solid red;
  box-shadow: 0 0 0.25rem rgba(255, 111, 111, 0.802);
}

.input {
  border: 1px solid #333;
  border-radius: 0.3em;
}

.from, .to { width: 100%; }

.swap {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 50%;
}

select { border: 1px solid #333; border-radius: 0.3em; }

/* .output-1,
.output-2 {
  float: left;
} */

.btn {
  justify-self: end;
  width: 50%;
}

span { /* for rial symbol in output */
  float: left;
}

.top,
.bottom {
  display: inline-flex;
}

.flag {
  /* border: 1px solid rgb(230, 230, 230); */
  border-radius: 2px;
  margin-right: 5px;
  opacity: 0.95;
  vertical-align: unset;
}

.one {
  height: 1.15em;
}

.two {
  height: 1.55em;
}

.result {
  display: flex;
  display: none;
  flex-direction: column;
  margin: 10px 0;
}

.spinner-border {
  float: unset;
}

.alert {
  padding: .5em;
  font-size: 12px;
  margin: 0;
}

.single-units,
.alert {
  text-align: start;
  margin-bottom: 8px;
}

.single-units p {
  margin: 0;
}

.datetime {
  font-size: .8em;
  float: left;
  margin: 0;
}